.logo {
  @media (max-width: 999px) {
    display: none;
  }

  @media (min-width: 1000px) {
    display: block;
    width: 13rem;
    animation: brand 5s ease;
  }
}

@keyframes brand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
