.ui.dimmer {
  z-index: 10000;

  .modal_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: lightgreen; */

    &-row {
      width: 60%;
      display: flex;
      flex-direction: row;

      .left {
        width: 30%;
        /* background-color: lightseagreen; */
      }

      .right {
        padding-left: 1rem;
        width: 70%;
        /* background-color: lightcoral; */

        .project {
          margin: 0 0 10px 0;
        }

        p {
          margin: 0 0 5px 0;
        }
      }
    }
  }
}
