.title {
  // background-color: #ff4800;
  width: 100%;
  margin: 0 auto;

  .heading-secondary {
    width: 100%;
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    background-image: linear-gradient(to right, #4dc6ff, #008bcc);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2) skewY(3deg);
      text-shadow: 0.5rem 1.2rem 2rem rgba(0, 0, 0, 0.4);
    }

    @media (min-width: 1000px) {
      font-size: 2rem;
    }
  }
}
